body{
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 12vh;
}
ul {
    list-style-type: none;
    display: inline-block;
   
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }

  li .image {
    color:white !important;
    float: left;
  }

  li .product {
    position: relative;
    float: right;
    left: 1150px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  }
